<div class="w-screen h-screen bg-slate-50 relative">
    <div class="absolute w-full h-full">
        <img class="absolute hidden md:block w-96 bottom-0 left-0" src="/assets/svg/login-bg-left.svg" alt="bg left">
        <img class="absolute hidden md:block w-96 bottom-0 right-0" src="/assets/svg/login-bg-rigth.svg" alt="bg right">
    </div>
    <div class="relative m-auto w-10/12 md:w-6/12 xl:w-3/12">
        <header class="pt-6 pb-2 flex justify-center">
            <img class="w-52" src="/assets/images/logo/logo-gradient-blue-trello.png" alt="">
        </header>
        <div class="md:bg-white md:shadow-lg rounded-md md:p-10 text-center">
            <h1 class="mb-6 font-medium text-gray-700">Iniciar sesión en Trello</h1>
            <!-- Espacio homogeneo, osea que cada input va tener un espacio entre si -->
            <form novalidate class="space-y-4">
                <input class="w-full border-gray-300" type="text" placeholder="Introduzca el correo electrónico">
                <input class="w-full border-gray-300" type="text" placeholder="Introduzca la contraseña">
                <app-button [type]="'submit'">Continuar</app-button>
            </form>
            <div class="text-sm text-sky-600 space-y-1 py-4">
                <a class="hover:underline mt-4" href="">¿No puede iniciar sesión?</a>
                <a class="hover:underline block" href="">Regístrese para crear una cuenta</a>
            </div>
        </div>
    </div>
</div>