<div class="w-screen h-screen bg-slate-50 relative">
    <div class="absolute w-full h-full">
        <img class="absolute w-96 bottom-0 left-0" src="/assets/svg/login-bg-left.svg" alt="bg left">
        <img class="absolute w-96 bottom-0 right-0" src="/assets/svg/login-bg-rigth.svg" alt="bg right">
    </div>
    <div class="relative m-auto w-3/12">
        <header class="pt-6 pb-2 flex justify-center">
            <img class="w-52" src="/assets/images/logo/logo-gradient-blue-trello.png" alt="">
        </header>
        <div class="bg-white shadow-lg rounded-md p-10 text-center">
            <h1 class="mb-6 font-medium text-gray-700">Iniciar sesión en Trello</h1>
            <input class="border-2 rounded-sm w-full h-10 px-2 mb-4" type="text" placeholder="Introduzca el correo electrónico">
            <button class="w-full bg-lime-600 rounded-sm text-white h-10 mb-4">Continuar</button>
            <hr>
            <a class="hover:underline" href="">¿No puede iniciar sesión?</a>
            <a class="hover:underline" href="">Regístrese para crear una cuenta</a>
        </div>
    </div>
</div>